@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  background-color: #2C003E;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mask {
  -webkit-mask-image: url("/mask.svg");
  mask-image: url("/mask.svg");
  background: #00ffd1;
  -webkit-mask-size: cover;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position:50%;
  mask-size:40px;
}

.image-block.image-1{
  width: 300px;
  left: 16%;
  bottom: 14%;
}
.image-block.image-3{
  width: 200px;
  right: 12%;
  top: 8%;
}
.image-block.image-4{
  max-width: 300px;
  width: 40%;
  right: 20%;
  bottom: 10%;
}
.image-block.image-5{
  width: 180px;
  left: 14%;
  top: 12%;
}


.marquee {
  position: relative;
  overflow: hidden;
  }
  .marquee.animate .marquee__inner {
    animation-play-state: running;
  }
  .marquee .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(calc(-25%), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
  }
  .marquee .row-title {
    padding: 0 8vw;
  }


@keyframes marquee {
  0% {
    transform: translate3d(calc(-25%), 0, 0);
  }

  100% {
    transform: translate3d(calc(-50%), 0, 0);
  }
}

@keyframes marquee-lg {
  0% {
    transform: translate3d(calc(-25% + 10vw), 0, 0);
  }

  100% {
    transform: translate3d(calc(-50% + 10vw), 0, 0);
  }
}